[submodule "libraries/Cabal"]
	path = libraries/Cabal
	url = https://github.com/stable-haskell/Cabal.git
	ignore = untracked
	branch = stable-haskell/feature/cross-compile-p1
[submodule "nofib"]
	path = nofib
	url = https://gitlab.haskell.org/ghc/nofib.git
	ignore = untracked
[submodule "gmp-tarballs"]
	path = libraries/ghc-internal/gmp/gmp-tarballs
	url = https://gitlab.haskell.org/ghc/gmp-tarballs.git
[submodule "libraries/libffi-clib"]
	path = libraries/libffi-clib
	url = https://github.com/stable-haskell/libffi-clib.git
