[submodule "nofib"]
	path = nofib
	url = https://gitlab.haskell.org/ghc/nofib.git
	ignore = untracked
[submodule "gmp-tarballs"]
	path = libraries/ghc-internal/gmp/gmp-tarballs
	url = https://gitlab.haskell.org/ghc/gmp-tarballs.git
