[submodule "libraries/Cabal"]
	path = libraries/Cabal
	url = https://github.com/stable-haskell/Cabal.git
	ignore = untracked
	branch = stable-haskell/feature/cross-compile-p1
[submodule "nofib"]
	path = nofib
	url = https://gitlab.haskell.org/ghc/nofib.git
	ignore = untracked
[submodule "utils/hpc"]
	path = utils/hpc
	url = https://gitlab.haskell.org/hpc/hpc-bin.git
[submodule "libraries/template-haskell-lift"]
	path = libraries/template-haskell-lift
	url = https://gitlab.haskell.org/ghc/template-haskell-lift.git
[submodule "libraries/template-haskell-quasiquoter"]
	path = libraries/template-haskell-quasiquoter
	url = https://gitlab.haskell.org/ghc/template-haskell-quasiquoter.git
